<h3>Game Over</h3>
<h5>You have finished all of the cards!</h5>
<a href="/game"><button type="button">Play Again?</button></a>
<a href="/game"><button type="button">Finish It!</button></a>
<div>
<h4>Stats:</h4>
<hr>
<p>Correct: <%= Quap.where(status: "correct").count %></p>
<br>
<p>Incorrect: <%= Quap.where(status: "incorrect").count %></p>
</div>



