  <header><h1>Game Over</h1></header>
<div class="container">
<div class="game_over">
  <h2>You have finished all of the cards!</h2>
  <a href="/game"><button type="button">Play Again?</button></a>
  <a href="/logout"><button type="button">Finish It!</button></a>
</div>
  <div class="stats">
    <h4>Stats:</h4>
    <hr>
    <p>Correct: <%= @correct %></p>
    <br>
    <p>Incorrect: <%= @incorrect %></p>
  </div>

</div>

