<div class="login">
<h1>Login</h1>
<form action="/login" method="POST">
  <label for="name"></label>
  <input type="text" name="user[name]" id="name" value="" placeholder="name"/>
  <label for="password"></label>
  <input type="password" name="user[password]" id="password" value="" placeholder="password"/>
  <input type="submit" name="" id="" value="Login"/>
</form>
</div><br>
<% if params[:invalid] == "invalid_user_or_password" %>
<%= "Invalid Username or Password" %>
<% end %>
