body {

}

header {
  text-align: center;
}

#button {
  display: block;
  height: 100px;
  width: 300px;
  background: white;
  border-radius: 20px;
}

.welcome_buttons {
  display: block;
  padding: 1%;
  bottom: 0;
  float: left;
  font-size: 20px;
}
.wrapper {
  margin-left: 30%;
}

.welcome_message {
  background-image: url("../pictures/languagesmedium.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  height: 500px;
  text-align: center;
  color: white;
  padding: 10%;
}

.login {

}

.logo {
  padding-top:20px;
  font-size: 100px;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
padding: 5%;
}