
hr {
  width: 15%;
}

.stats {
  text-align: center;
  font-size: 28px;
}

.game_over {
  text-align: center;
}

a button {
  display: inline-block;
  height: 50px;
  width: 200px;
  background: white;
  border-radius: 10px;
  font-size: 22px;
}