.game_over_gif {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 35%;
  width: auto;
}

hr {
  width: 15%;
}

.stats {
  text-align: center;
  font-size: 20px;
}

.game_over {
  text-align: center;
}
