.user_profile {
  text-align: center
}

.begin_game {
  text-align: center;
}
#menu {
    width: 100%;
    height: 35px;
    font-size: 20px;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #477B7F;
    border-radius: 8px;
}

#menu ul{
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li {
  display: inline;
  padding: 20px;
}

#menu a {
  text-decoration: none;
  color: black;
  padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #8EF7FF;
    background-color: #477B7F;
}
