<div class="background">
</div>

<div id="menu">
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/user/<%= user.id %>/edit">Update Profile</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/user/<%= user.id %>/delete">Delete Account</a></li>
  </ul>
</div>
<div class="container">
<h2>Delete Your Account</h2>
<h4>Are You Sure?</h4>

<form action="/user/<%= user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Yes">
</form>
<br>
  <a href="/user/<%= user.id  %>"><button type="button">No</button></a>
</div>