<div class="user_profile">
  <h2 style="text-align: center">Welcome, <%= user.name %>!</h2>

  <h5>Would you like to begin?</h5>
  <a href="/game"><button type="button">Yes</button></a><br><br>
  <a href="/"><button type="button">No</button></a><br><br>
  <a href="/logout"><button type="button">Logout</button></a>
</div>

