
<div class="container">
  <h2 style="text-align: center">Welcome, <%= user.name %>!</h2>
<div class="user_profile">


  <h2>Would you like to begin?</h2>
  <a href="/game"><button type="button">Yes</button></a><br><br>
  <a href="/"><button type="button">No</button></a><br><br>
  <a href="/logout"><button type="button">Logout</button></a><br><br><br>
</div>
<div class="update_profile">
  <a href="/user/<%= user.id %>/edit"><button type="button">Update Your Profile</button></a>
</div><br>
<div class="delete_profile">
  <a href="/user/<%= user.id %>/delete"><button type="button">Delete Your Account</button></a>
</div>
</div>
