<header>
  Have you quapped today?
</header>

<div class="welcome_message">
  <p class="logo">Welcome to QuapQuap!</p>
  <h1> Quap Quap is used to help teach new languages to individuals. Providing a question, picture, and the answer in the language you are learning, as well as a text-to-speech feature to allow the user to hear how the word is pronounced.<h1>
</div>
<div class="wrapper">
<div class ="welcome_buttons">
  <form action="/login" method="GET">
    <input type="submit" name="" id="button" value="Login"/>
  </form>
</div>
<div class ="welcome_buttons">
  <form action="/user/new" method="GET">
    <input type="submit" name="" id="button" value="Sign Up"/>
  </form>
</div>
</div>


<footer>
</footer>