
<h2>Welcome to QuapQuap!</h2>

<form action="/login" method="GET">
<input type="submit" name="" id="button" value="Login"/>

<form action="/user/new" method="GET">
<input type="submit" name="" id="button" value="Sign Up"/>

