
<h1>Welcome to QuapQuap!</h1>
<h3>Have you quapquapped today?<h3>

<form action="/login" method="GET">
<input type="submit" name="" id="button" value="Login"/>
</form>
<form action="/user/new" method="GET">
<input type="submit" name="" id="button" value="Sign Up"/>
</form>
