<header>
  <h2>Have you quapped today?<h2>
</header>

<div class="welcome_message">
  <p class="logo">Welcome to QuapQuap!</p>
  <h1> Quap Quap is generate some complex and inspirational stuff here about the power of language and communication.<h1>
</div>
<div class="wrapper">
<div class ="welcome_buttons">
  <form action="/login" method="GET">
    <input type="submit" name="" id="button" value="Login"/>
  </form>
</div>
<div class ="welcome_buttons">
  <form action="/user/new" method="GET">
    <input type="submit" name="" id="button" value="Sign Up"/>
  </form>
</div>
</div>


