
<div class="banner">

<div class="welcome_message">
  <h1>Welcome to QuapQuap!</h1>
  <h3>Have you quapped today?<h3>
</div>

<div class ="welcome_buttons">
  <form action="/login" method="GET">
    <input type="submit" name="" id="button" value="Login"/>
  </form>
  <form action="/user/new" method="GET">
    <input type="submit" name="" id="button" value="Sign Up"/>
  </form>
</div>
</div>